@import "../variables/variables.scss";

.application {
  display: flex;
  justify-content: flex-end;
  background-color: $lightGrey;

  .container {
    display: flex;
    justify-content: flex-end;
  }

  &__content {
    position: relative;
    width: 420px;
    padding: 135px 0;

    h2 {
      margin-bottom: 25px;
    }

    p {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 40px;
    }

    a:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__image {
    position: absolute;
    top: -43px;
    left: -695px;
  }
}

@media (max-width: 1106px) {
  .application__image {
    left: -625px;
  }
}

@media (max-width: 930px) {
  .application {
    &__content {
      width: 60%;
    }

    &__image {
      transform: rotate(17deg);
      left: -580px;
    }
  }
}
