.video {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;

  &__content {
    position: relative;
    width: 1006px;
    height: 730px;
    background: url("/assets/portrait-woman-with-her-beautiful-dog 1.png") top
      center / cover no-repeat;
    border-radius: 16px;

    h2 {
      width: 453px;
      font-size: 52px;
      line-height: 55px;
      margin-bottom: 32px;
      color: #ffffff;
    }
  }

  &__description {
    position: absolute;
    top: 164px;
    left: 98px;
  }

  &__button {
    width: 155px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    background-color: #ffffff;
    border-radius: 20px;
  }
}
