.advantages {
  display: flex;
  justify-content: space-between;
  padding-top: 155px;
  padding-bottom: 155px;

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    text-align: center;

    h3 {
      font-size: 32px;
      line-height: 37px;
    }

    p {
      font-size: 16px;
      width: 100%;
    }
  }
}

@media (max-width: 930px) {
  .advantages {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    &__card {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      text-align: start;
      width: 100%;

      &:nth-child(2) {
        flex-direction: row-reverse;
        text-align: end;
      }

      h3 {
        font-size: 42px;
      }

      img {
        width: 30%;
      }

      div {
        width: 65%;

        p {
          font-size: 24px;
          font-weight: 400;
        }
      }
    }
  }
}
