// breakpoints
$maxWidth: 1366px; // desktop large
$large: 960px; // desktop small
$medium: 720px; // tablet
$small: 375px; // mobile 1
$minWidth: 320px; // mobile 2

// font
$mainFont: "Montserrat", sans-serif;
$mediumSize: 18px;

// colors
$yellow: #ffd43d;
$lightGrey: #edeff0;
$darkBlue: #040054;
