@import "../variables/variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  font-size: $mediumSize;
  line-height: 30px;
}

button {
  background-color: inherit;
  outline: none;
  border: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  width: 450px;
  font-size: 72px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  color: $darkBlue;
  line-height: 64px;
  margin-bottom: 30px;
}

h2 {
  font-size: 48px;
  line-height: 55px;
  font-weight: 700;
}
