.footer {
  display: flex;
  justify-content: space-between;

  padding: 85px 0;

  &__socials {
    display: flex;

    p {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }
}
